.benefits {
  display: flex;
  flex-wrap: wrap;
}
.items-benefits {
  margin-right: 30px;
  height: 251px;
  width: 270px;
}

.items-cartons {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  background: var(--section-secondary-color);
  border-radius: 4px;
}
.items-benefits:last-child {
  margin-right: 0;
}
.items-benefits:not(:last-child) {
  margin-right: 30px;
}
.items-title {
  margin-top: 30px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.items-text {
  margin-top: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-item-color);
}
.items-text:not(:last-child) {
  margin-right: 30px;
}
