.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--section-aside-color);
}
.footer-container {
  display: flex;
  align-items: baseline;
}
.footer-address {
  width: 231px;
  margin-right: 70px;
}
.address-list {
  display: flex;
  font-style: normal;
  flex-direction: column;
}
.address-row:not(:last-child) {
  margin-bottom: 9px;
}
.address-link {
  line-height: 1,71;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--text-item-color);
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--timing-duration) var(--timing-function);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
  &.maps {
  color: var(--primary-title-color);
}
