.modal-btn {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: auto;
}
.modal-btn .button {
  color: var(--primary-title-color);
}
