.nav-icon {
  margin-right: 10px;
  fill: var(--text-item-color);
  transition: fill var(--timing-duration) var(--timing-function);
}
.nav-icon-envelope {
  height: 12px;
  width: 16px;
}
.nav-icon-smartphone {
  height: 16px;
  width: 10px;
}
.auth-nav-link:hover .nav-icon,
.auth-nav-link:focus .nav-icon {
  fill: var(--accent-color);
}
