.social-list {
  display: flex;
  justify-content: center;
}
.social-item {
  margin-right: 10px;
  width: 44px;
  height: 44px;
}
.social-item:last-child {
  margin-right: 0;
}
.social-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-title-color);
}
.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
}
.social-link {
  transition: background-color var(--timing-duration) var(--timing-function);
}
.social-link:hover .social-icon,
.social-link:focus .social-icon {
  fill: var(--primary-title-color);
}
.social-icon {
  width: 20px;
  height: 20px;
  fill: var(--social-icon-color);
  transition: fill var(--timing-duration) var(--timing-function);
}
